@media (max-width: 1024px)
  .mobile_menu
    display: block

	.repo-details
    position: absolute
    padding-left: 0
    min-width: 100%
    min-height 100%  
    transition: all 1s  
    margin: 0 15px

	.hide-menu
		transform: translateX(-100%)
		transition: all 1s

	.mobile_menu
	    position: absolute
	    font-size: 2rem
	    right: 1rem
	    top: 0.6rem
	    z-index: 9999
	    display: block

@media (max-width: 768px)
	.repo-details
    position: absolute
    padding-left: 0
    min-width: 100%
    min-height 100%  
    transition: all 1s  
    margin: 0 15px

	.hide-menu
		transform: translateX(-100%)
		transition: all 1s

	.mobile_menu
	    position: absolute
	    font-size: 2rem
	    right: 1rem
	    top: 0.6rem
	    z-index: 9999
	    display: block       
